.basic-example svg g {
    fill: #ffffff;
    fill-opacity: 0.6;
  }
  /* .basic-example svg g:hover {
    fill-opacity: 1;
  }
  .basic-example svg g:hover text {
    fill-opacity: 1;
  } */
  
  .basic-example svg g polygon {
    stroke: #000000;
    stroke-width: 1;
    transition: fill-opacity 0.2s;
  }
  .basic-example svg g text {
    font-size: 0.2em;
    fill: #000000;
    fill-opacity: 1;
    transition: fill-opacity 0.2s;
  }
  .basic-example svg path {
    fill: none;
    stroke: hsl(60, 20%, 70%);
    stroke-width: 0.4em;
    stroke-opacity: 0.3;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

.button-container {
  margin-top: 20px;
  text-align: center;
}

.button-container button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #000;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
}

.button-container button:hover {
  background-color: #ddd;
}

.start polygon {
  fill: darkslategrey !important;
}

.treasure polygon {
  fill: yellow !important;
}

.water polygon {
  fill: blue !important;
}

.trap polygon {
    fill: pink !important;
}

  .curse polygon {
    fill: red !important;
  }
  .amulet polygon {
    fill: green !important;
  }
  .exit polygon {
    fill: grey !important;
  }
  .team-one polygon {
    fill: lightgreen !important;
  }
  .team-two polygon {
    fill: lightblue !important;
  }